<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Coffee _ Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/css/comm.css">

</head>
<body>

<!-- 헤더 위치 -->
<th:block th:replace="/v2/comm/header :: headerFragment"></th:block>

<div id="main" style="font-size:large; alignment: center; padding: 10px 50px ">
  <table>
    <tr>
      <td style="width:450px">
      <p>SLO 테스트
      </p>

        <!-- 복호화된 데이터 출력 -->
      <p th:text="${data}">

      </p>
      </td>
      <td style="width:auto">
        <img src="/img/lottehotel.png" style="width: 700px">
      </td>
    </tr>
  </table>
</div>


<!-- 푸터 위치 -->
<th:block th:replace="/v2/comm/footer :: footerFragment"></th:block>
</body>
</html>


